In [ ]:
"""
This file is to clean a Bill of Header data set 
This data set contains over 30 columns 
And contains information about the commodities arrival dates, port locations, measurement etc.
"""

In [1]:
# importing modules/libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# creating a log changes function 
log_file_path = 'C:/Users/Public/project_1/log_file.txt'
now = pd.Timestamp.now()

def log_changes(message):
    """ 
    Updates a log file with the "message" that corresponds to the changes made
    including a time stamp that it was ran 
    """

    with open(log_file_path, 'a') as f:
        message = now.strftime('%Y-%m-%d %H:%M:%S') +': ' + message + ' on the Header Table \n'
        f.write(message)

In [2]:
# saving my file paths 
bill_header_path_0 = 'C:/Users/Public/project_1/bronze layer/bill_of_header/ams__header_2018__202001290000_part_0.csv'
bill_header_path_1 = 'C:/Users/Public/project_1/bronze layer/bill_of_header/ams__header_2018__202001290000_part_1.csv'
bill_header_path_2 = 'C:/Users/Public/project_1/bronze layer/bill_of_header/ams__header_2018__202001290000_part_2.csv'
bill_header_path_3 = 'C:/Users/Public/project_1/bronze layer/bill_of_header/ams__header_2018__202001290000_part_3.csv'

In [ ]:
# saving csvs as data frames
bill_header_0 = pd.read_csv(bill_header_path_0)
bill_header_1 = pd.read_csv(bill_header_path_1)
bill_header_2 = pd.read_csv(bill_header_path_2)
bill_header_3 = pd.read_csv(bill_header_path_3)

In [ ]:
# concatenating my dataframes into one single dataframe 
bill_header_2018 = pd.concat([bill_header_0, bill_header_1, bill_header_2, bill_header_3], axis=0)

In [ ]:
# looking at fields and data types
bill_header_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19904536 entries, 0 to 4904535
Data columns (total 34 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   identifier                             int64
 1   carrier_code                           object
 2   vessel_country_code                    object
 3   vessel_name                            object
 4   port_of_unlading                       object
 5   estimated_arrival_date                 object
 6   foreign_port_of_lading_qualifier       object
 7   foreign_port_of_lading                 object
 8   manifest_quantity                      int64
 9   manifest_unit                          object
 10  weight                                 int64
 11  weight_unit                            object
 12  measurement                            int64
 13  measurement_unit                       object
 14  record_status_indicator                object
 15  place_of_receipt                       object
 16  port_of_destination                    object
 17  foreign_port_of_destination_qualifier  object
 18  foreign_port_of_destination            object
 19  conveyance_id_qualifier                object
 20  conveyance_id                          object
 21  in_bond_entry_type                     object
 22  mode_of_transportation                 object
 23  secondary_notify_party_1               object
 24  secondary_notify_party_2               object
 25  secondary_notify_party_3               object
 26  secondary_notify_party_4               object
 27  secondary_notify_party_5               object
 28  secondary_notify_party_6               object
 29  secondary_notify_party_7               object
 30  secondary_notify_party_8               object
 31  secondary_notify_party_9               object
 32  secondary_notify_party_10              object
 33  actual_arrival_date                    object
dtypes: int64(4), object(30)
memory usage: 5.2+ GB

In [ ]:
# checking the number of null values
bill_header_2018.isnull().sum()

identifier                           0
container_number                   859
seal_number_1                  1101818
seal_number_2                 28905377
equipment_description_code     2351773
container_length                     0
container_height                     0
container_width                      0
container_type                 3741397
load_status                      55837
type_of_service                3501030
dtype: int64

In [ ]:
# dropping all the unnecessary columns
bill_header_2018.drop(['secondary_notify_party_1','secondary_notify_party_2', 
                        'secondary_notify_party_3', 'secondary_notify_party_4',
                        'secondary_notify_party_5','secondary_notify_party_6',
                        'secondary_notify_party_7','secondary_notify_party_8',
                        'secondary_notify_party_9', 'secondary_notify_party_10',
                        'conveyance_id_qualifier', 'conveyance_id', 
                        'in_bond_entry_type', 'mode_of_transportation', 
                        'place_of_receipt', 'record_status_indicator',
                        'foreign_port_of_destination_qualifier',
                        'foreign_port_of_lading_qualifier'], axis = 1, inplace = True)

In [ ]:
# taking a closer look at the values 
bill_header_2018.head()

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading_qualifier,foreign_port_of_lading,manifest_quantity,manifest_unit,weight,weight_unit,measurement,measurement_unit,port_of_destination,foreign_port_of_destination,actual_arrival_date
0,201801010,DFDS,GB,EVER SIGMA,"Los Angeles, California",2017-02-14,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",21,CTN,183,Kilograms,0,NaN,NaN,NaN,2017-02-15
1,201801011,DFDS,GB,EVER SIGMA,"Los Angeles, California",2017-02-14,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",3,CAS,1096,Kilograms,0,NaN,NaN,NaN,2017-02-15
2,201801012,DFDS,GB,EVER SIGMA,"Los Angeles, California",2017-02-14,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",59,CTN,758,Kilograms,0,NaN,NaN,NaN,2017-02-15
3,201801013,DFDS,GB,EVER SIGMA,"Los Angeles, California",2017-02-14,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",168,CTN,2050,Kilograms,0,NaN,NaN,NaN,2017-02-15
4,201801014,DFDS,GB,EVER SIGMA,"Los Angeles, California",2017-02-14,Schedule K Foreign Port,"Kaohsiung,China (Taiwan)",9,CTN,149,Kilograms,0,NaN,NaN,NaN,2017-02-15

In [ ]:
# checking how many null values are after recent changes
bill_header_2018.isnull().sum()

identifier                                 0
carrier_code                               0
vessel_country_code                      112
vessel_name                                4
port_of_unlading                           0
estimated_arrival_date                     0
foreign_port_of_lading_qualifier           0
foreign_port_of_lading                     0
manifest_quantity                          0
manifest_unit                              0
weight                                     0
weight_unit                                0
measurement                                0
measurement_unit                     6148518
port_of_destination                 18060899
foreign_port_of_destination         19782534
actual_arrival_date                        0
dtype: int64

In [ ]:
# dropping all null values in general and logging the change
log_changes('Dropping null values in general')
bill_header_2018.dropna(inplace = True)

In [ ]:
# dropping duplicates for identifier column and logging the change 
bill_header_2018.drop_duplicates(subset = ['identifier'], inplace = True)
log_changes('dropping duplicates if they exist ')

In [ ]:
# making sure there are no nulls
bill_header_2018.isnull().sum()

identifier                          0
carrier_code                        0
vessel_country_code                 0
vessel_name                         0
port_of_unlading                    0
estimated_arrival_date              0
foreign_port_of_lading_qualifier    0
foreign_port_of_lading              0
manifest_quantity                   0
manifest_unit                       0
weight                              0
weight_unit                         0
measurement                         0
measurement_unit                    0
port_of_destination                 0
foreign_port_of_destination         0
actual_arrival_date                 0
dtype: int64

In [ ]:
# checking the values for weight units 
# noticing that the weight_unit is not unanimous 
bill_header_2018['weight_unit'].unique()

array(['Pounds', 'Kilograms', 'Long Ton', 'Measurement Ton'], dtype=object)

In [ ]:
"""
In this case I'm dropping measurement ton since it does not make sense as a weight unit 
since measurement ton refers to space:
    A space measurement usually 40 cubic feet or one cubic meter. 

This could be a sign of data discrepancy and could be a mistake so it would not add value to my queries
"""


measurment_ton_index = bill_header_2018[bill_header_2018['weight_unit'] == 'Measurement Ton'].index
bill_header_2018.drop(measurment_ton_index, inplace = True)

# logging the change
log_changes('Dropping values that have measurment ton')

In [ ]:
def to_kilograms (original_weight_unit, original_weight):
    """
    A function to convert each value in weight_unit column to kilograms
    """
    
    if original_weight_unit == 'Kilograms':
        return original_weight*1
    elif original_weight_unit == 'Pounds':
        return original_weight*0.453592
    elif original_weight_unit == 'Metric Ton':
        return original_weight*1000
    elif original_weight_unit == 'Long Ton':
        return original_weight*1016.05
    elif original_weight_unit == 'Short Ton':
        return original_weight*907.185
    else: 
        return original_weight

In [ ]:
# running the to_kilograms function and logging the change
bill_header_2018['weight_kg'] = bill_header_2018.apply(lambda row: to_kilograms(row['weight_unit'], 
                                                            row['weight']), axis=1)

# rounding the values
bill_header_2018['weight_kg'] = round(bill_header_2018['weight_kg'])

# logging the change 
log_changes('creating a kg column')

# checking the values 
bill_header_2018.head()

,identifier,carrier_code,vessel_country_code,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading,manifest_quantity,manifest_unit,weight,weight_unit,measurement,measurement_unit,port_of_destination,foreign_port_of_destination,actual_arrival_date,weight_kg
2126,201801012126,SAFM,US,MAERSK PITTSBURGH,"Houston, Texas",2017-12-27,"Jebel Ali,United Arab Emirates",1194,CTN,23421,Pounds,30,Cubic Meters,"Houston Intercontinental Airport, Houston, Texas","Sharjah,United Arab Emirates",2017-12-30,10624.0
2992,201801012992,CMDU,MH,BALTIC BRIDGE,"Miami, Florida",2017-12-27,"Shekou,China (Mainland)",579,PCS,14757,Kilograms,0,Cubic Meters,"Port Everglades, Florida","Kralendijk,Netherland Antilles",2017-12-30,14757.0
4437,201801014437,COSU,MH,BALTIC BRIDGE,"Miami, Florida",2017-12-27,"Shanghai ,China (Mainland)",802,PKG,16846,Kilograms,60,Cubic Meters,"West Palm Beach, Florida","High Seas (Outside U.S. Territorial Waters),Un...",2017-12-30,16846.0
5998,201801015998,APLU,MH,BALTIC BRIDGE,"Miami, Florida",2017-12-27,"Pusan,South Korea",180,PKG,8589,Kilograms,38,Cubic Meters,"West Palm Beach, Florida","Basseterre, St. Kitts,St. Kitts & Nevis",2017-12-30,8589.0
7520,201801017520,VWTG,SG,VIKING BRAVERY,"Providence, Rhode Island",2017-12-01,"Emden,Federal Republic of Germany",3,UNT,7360,Kilograms,0,Cubic Meters,"Champlain Rouses Point, New York","Quebec, QUE,Canada",2017-12-31,7360.0

In [ ]:
# dropping more unnecessary columns now that I converted the weight
bill_header_2018.drop(['weight', 'weight_unit', 'vessel_name'], axis = 1, inplace = True)
log_changes('dropping vessel name and weight units  ')

In [ ]:
# checking for the measurement_unit values
bill_header_2018['measurement_unit'].unique()

array(['Cubic Meters', 'Cubic Feet', 'Cubic Decimeters',
       'Measurement Ton', '100 Board Feet', 'Barge', 'Liter',
       'Cubic Centimeters', 'Cord'], dtype=object)

In [ ]:
bill_header_2018.head()

,identifier,carrier_code,vessel_country_code,port_of_unlading,estimated_arrival_date,foreign_port_of_lading,manifest_quantity,manifest_unit,measurement,measurement_unit,port_of_destination,foreign_port_of_destination,actual_arrival_date,weight_kg
2126,201801012126,SAFM,US,"Houston, Texas",2017-12-27,"Jebel Ali,United Arab Emirates",1194,CTN,30,Cubic Meters,"Houston Intercontinental Airport, Houston, Texas","Sharjah,United Arab Emirates",2017-12-30,10624.0
2992,201801012992,CMDU,MH,"Miami, Florida",2017-12-27,"Shekou,China (Mainland)",579,PCS,0,Cubic Meters,"Port Everglades, Florida","Kralendijk,Netherland Antilles",2017-12-30,14757.0
4437,201801014437,COSU,MH,"Miami, Florida",2017-12-27,"Shanghai ,China (Mainland)",802,PKG,60,Cubic Meters,"West Palm Beach, Florida","High Seas (Outside U.S. Territorial Waters),Un...",2017-12-30,16846.0
5998,201801015998,APLU,MH,"Miami, Florida",2017-12-27,"Pusan,South Korea",180,PKG,38,Cubic Meters,"West Palm Beach, Florida","Basseterre, St. Kitts,St. Kitts & Nevis",2017-12-30,8589.0
7520,201801017520,VWTG,SG,"Providence, Rhode Island",2017-12-01,"Emden,Federal Republic of Germany",3,UNT,0,Cubic Meters,"Champlain Rouses Point, New York","Quebec, QUE,Canada",2017-12-31,7360.0

In [ ]:
# checking if there's any discrepancies with having zero as a measurement
bill_header_2018[bill_header_2018['measurement'] == 0]

Empty DataFrame
Columns: [identifier, carrier_code, vessel_country_code, port_of_unlading, estimated_arrival_date, foreign_port_of_lading, manifest_quantity, manifest_unit, measurement, measurement_unit, port_of_destination, foreign_port_of_destination, actual_arrival_date, weight_kg]
Index: []

In [ ]:
# dropping the values equal to zero 
measurement_zero_index = bill_header_2018[bill_header_2018['measurement'] == 0].index
bill_header_2018.drop(measurement_zero_index, axis = 0, inplace = True)

# logging the change
log_changes('dropping measurements of zero')

In [ ]:
# noticing final columns that are unnecessary 
bill_header_2018.drop([ 'carrier_code', 'vessel_country_code'], axis= 1, inplace= True)

In [ ]:
# verifying there are no nulls and columns are usable
bill_header_2018.isnull().sum()

identifier                     0
port_of_unlading               0
estimated_arrival_date         0
foreign_port_of_lading         0
manifest_quantity              0
manifest_unit                  0
measurement                    0
measurement_unit               0
port_of_destination            0
foreign_port_of_destination    0
actual_arrival_date            0
weight_kg                      0
dtype: int64

In [ ]:
# exporting the dataframe 
bill_header_2018.to_csv('bill_header_cleaned.csv', index= False, sep= '|')

# saving the changes into my log file 
log_changes('exporting cleaned bill of header data to a csv file')